<%- include ('partials/header'); -%>

<h1>About</h1>
<h2><%=about %></h2>

<p>Github: <a href="https://github.com/sadkodjozo">github.com/sadkodjozo</a>  </p>

<p>Linkedin: <a href="https://www.linkedin.com/in/sadko-djozo/">linkedin.com/in/sadko-djozo</a>  </p>

<%- include ('partials/footer'); -%>